*{
    margin: 0%;
}
.header{
    background-color: black;
    height: 5rem;
    display: flex;
}
.logo img{
    height: 2.4rem;
    padding-left: 10.5rem;
    padding-top: 1.25rem;
}
.menu{
    display: flex;
    color: antiquewhite;
    padding-left: 10rem;
    list-style-type: none;
    padding-top: .5rem;
    padding-left: 16rem;
}
.elment1{
    margin: 1rem;
}
.page1{
    display: flex;
    background-image: linear-gradient(to bottom right,rgb(240, 55, 166) ,rgb(108, 14, 224));
    height: 37rem;
}
.button1 button{
    height: 3rem;
    border-radius: 3rem;
    border-style: none;
    width: 11rem;
}
.phnimg img{
    height: 15rem;
    padding-top: 10rem;
    padding-left: 16rem;
    height: 27rem;
  
}
.roundimg img{
    height: 28rem;
    flex: "justify-content-end";
}
.themtxt{
    font-size: 32px;
    max-width: 653px;
    color: beige;
    padding-left: 6rem;
    padding-top: 13rem;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
}
.page2{
    height: 30rem;
}
.head2{
    text-align: center;
    padding-top: 4rem;
    font-size: 1.5rem;
}
.minilog{
    display: flex;
    height: 24rem;
    padding-top: 4rem;
    padding-left: 9rem;
}
.minilog h2{
    padding-left: 6rem;
}
.minilog img{
    height: 9rem;
    padding-left: 6rem;
}
.minilog p{
    padding-left: 6rem;
    max-width: 200px;
    text-align: center;
}
.hed3 h3{
    max-width: 700px;
}
.page3{
    height: 25rem;
    background: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));
}
.pagtxt{
    height: 8rem;
    text-align: center;
    padding-top: 8rem;
}
.textp3{
    color: beige;
    font-size: 3.5rem;
}
.page4{
    height: 34rem;
}
.page4heder{
    text-align: center;
    font-size: 1.6rem;
    padding-top: 4rem;
}
.dropd1{
    height: 25rem;
    background-color:white;
}
.ddel1{
    display: none;
}
.ddhed1:hover .ddel1{
display: block;
padding-top: 1rem;
}
.ddhed1{
    padding-top: 2rem;
    text-align: left;
    padding-left: 26rem;

}
.ddhed1 button{
    padding-right: 25rem;
    height: 4rem;
    width: 36rem;
}
.page5back{
    background-image:linear-gradient(to bottom right,rgb(240, 55, 166) ,rgb(108, 14, 224)) ;
    height: 20rem;
    text-align: center;
    height: 27rem;
}
.p5el{
    padding-top: 10rem;
}
.p5el h2{
    color: white;
    padding-bottom: 1rem;
    font-size: 4.3rem;
}
.p5el button{
    border-color: white;
    border-style: none;
    height: 3rem;
    border-radius: 3rem;
    width: 11rem;
}
.soc{
    font-size: 3rem;
    color: white;
    padding-top: 1rem;
    padding-left: 2rem;
}
.footer{
    background-color: black;
}
.footertbd{
    height: 35rem;
    display: flex;
    padding-top: 4rem;
}
.footertbd li{
    color: aliceblue;
    padding-top: 1.5rem;
    padding-left: 4rem;
    list-style-type: none;

}
.soc:hover{
    color: rgb(11, 148, 11);
    cursor: pointer;
}
.liitem:hover{
    color: rgb(8, 151, 8);
    cursor: pointer;
}
.elment1:hover{
    color: rgb(8, 142, 8);
    cursor: pointer;
}
.gen{
    color: green;
}